/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.semi-obscured {
  font-family: text-security-disc;
  -webkit-text-security: disc;
}

.semi-obscured:hover {
  font-family: inherit;
  -webkit-text-security: none;
}

.guide {
  @apply hidden;
}

.has-guide:focus-within > .guide {
  @apply block mt-1;
}

.has-guide:focus-within {
  @apply border-yellow-500 rounded-md border border-dashed p-2;
}
