/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.semi-obscured {
  font-family: text-security-disc;
  -webkit-text-security: disc;
}

.semi-obscured:hover {
  font-family: inherit;
  -webkit-text-security: none;
}

.guide {
  @apply -z-10 md:max-w-xs absolute transition-opacity duration-1000 opacity-0 text-gray-500 text-sm border-yellow-500 rounded-md border border-dashed p-2 mt-2 bg-gray-100;
}

.has-guide:hover > .guide {
  @apply opacity-100  z-50;
}
