@import 'tailwindcss';
@import 'text-security/text-security.css';
@plugin "@tailwindcss/forms";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.semi-obscured {
  font-family: text-security-disc;
  -webkit-text-security: disc;
}

.semi-obscured:focus, .semi-obscured:hover {
  font-family: inherit;
  -webkit-text-security: none;
}

.guide {
  @apply -z-10 sm:max-w-xs absolute transition-opacity duration-1000 opacity-0 text-gray-700 text-sm border-yellow-500 rounded-md border border-dashed p-2 mt-2 bg-gray-100;
}

.has-guide:focus-within > .guide {
/*  @apply opacity-100 z-50;*/
}

/* reset progress bar */

.countdown {
  margin: 1rem;
  overflow: hidden;
}

.countdown div {
  height: 5px;
  transform-origin: left center;
  background: linear-gradient(to bottom, cyan, teal);
  animation: countdown calc(var(--duration) * 1s) linear forwards;
}

.countdown-empty {
  margin: 1rem;
  overflow: hidden;
}

.countdown-empty div {
  height: 5px;
}

@keyframes countdown {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}
